<div class="container">
  <h1>Guest lists</h1>
  <div *ngIf="guests">
    <ol>
      <li *ngFor="let guest of guests">{{ guest.firstName }} {{ guest.lastName }} {{ guest.dateOfBirth }}</li>
    </ol>
  </div>
</div>

<div>
    <label for="">First name: </label>
    <input [(ngModel)]="searchGuest.firstName" placeholder="Enter guest first name...">
</div>

<div>
    <label for="">Last name: </label>
    <input [(ngModel)]="searchGuest.lastName" placeholder="Enter guest last name...">
</div>

<button (click)="findPeople(searchGuest)">Search</button>
